# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/pipeline/#customization
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
  - build
  - test
  - code-style
sast:
  stage: test
include:
  - template: Security/SAST.gitlab-ci.yml

build:vendors:
  stage: build
  artifacts:
    untracked: true
  only:
    refs:
      - merge_requests
      - push
  cache:
    key:
      files:
        - composer.lock
    policy: pull-push
  image: composer:2
  script:
    - composer install --no-interaction --prefer-dist --optimize-autoloader

tests:
  stage: test
  dependencies:
    - build:vendors
  only:
    refs:
      - merge_requests
      - push
  cache:
    key:
      files:
        - composer.lock
    policy: pull
  image: php:8.2
  before_script: # Add this section for setup before the main script
    - apt-get update -yqq
    # Install GD extension and its dependencies
    - apt-get install -yqq libpng-dev libjpeg-dev libfreetype6-dev
    - docker-php-ext-configure gd --with-freetype --with-jpeg
    - docker-php-ext-install gd pdo_mysql # pdo_mysql is crucial for database tests.
    # zip is typically not needed for tests unless specifically interacting with zip files.

    # Ensure migrations and seeding are run for tests, if your tests require a database.
    # Replace with your actual database setup if different (e.g., if using a services: db setup)
    # This assumes your tests use an in-memory SQLite or similar, or your runner has access to a DB.
    # If using a database service (like postgres or mysql in 'services:'), configure that here.
    - php artisan migrate:fresh --env=testing
  script:
    - ./vendor/bin/pest --ci

code-style:
  stage: code-style
  dependencies:
    - build:vendors
  only:
    refs:
      - merge_requests
      - push
  cache:
    key:
      files:
        - composer.lock
    policy: pull
  image: php:8.2
  allow_failure: true
  script:
    - ./vendor/bin/phpcs --standard=ArtisanPackUIStandard src
